apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-xvazpoob
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-xvazpoob:da1a5b77ebef2cf9a81b1e49b60cb5890933cba0@sha256:a21a61b4b43bf630d37629751638fb7db198f754244a78166f4c509e14a50fa8
          name: container-image
